.button_add {
    width: 68px;
    height: 68px;
    background-image: url('../../public/png/onlyNote.png');
    background-size: 110%;
    background-repeat: no-repeat;
    color:rgb(32, 123, 188);
    font-weight: 900;
    border: none;
}

.button_add:hover {
    color:rgb(161, 199, 224);
    text-shadow: 1px 1px 0px rgb(32, 123, 188); 
}

.button_hidden {
    visibility: hidden;
}

